:root{
    --color-red: rgba(225,4,1,1);
    --color-dark-red: rgb(190, 0, 0) ;
    --color-black: rgba(0,0,0,1);
    --color-white: rgba(255, 255, 255,1);
}

body{
    height: 100vh;
    background: var(--color-red);
    background: linear-gradient(222deg, var(--color-red) 0%, var(--color-black) 80%, var(--color-black) 100%);
    background-repeat: no-repeat;
}

/* HEADER ___________________________________________________________________________________________________________ */

.btn-red{
    background-color: var(--color-red);
}

.btn-red:hover{
    border-color: var(--color-white);
    i{
        color: var(--color-white);
    }
}

.btn-red i{
    color: var(--color-black);
}

#offcanvasWithBothOptions{
    width: 25vw;
    background-color: var(--color-black);
    border-right: 0.5px solid var(--color-dark-red);
    color: var(--color-white);
}

.text-reset{
    color: var(--color-white);
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
}

.offcanvas-btn{
    background-color: transparent;
    border: 1px solid var(--color-red);
    border-radius: 10px;
    width: 50%;
}

.offcanvas-btn a{
    color: var(--color-white);
    text-decoration: none;
}



h1{
    color: var(--color-white);
}
    