:root {
    --color-red: rgba(225, 4, 1, 1);
    --color-dark-red: rgb(190, 0, 0);
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
}

body {
    height: 100vh;
    padding-top: 30px;
    overflow-x: hidden;
    background: var(--color-red);
    background: linear-gradient(222deg, var(--color-red) 0%, var(--color-black) 80%, var(--color-black) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-white);
}

h1,
h4,
h5,
p {
    color: var(--color-white);
}

p {
    text-align: justify;
}

/* HEADER ___________________________________________________________________________________________________________ */

header {
    position: fixed;
    top: 10px;
}

.btn-red {
    background-color: var(--color-dark-red);
}

.btn-red:hover {
    border-color: var(--color-white);
    background-color: var(--color-red);

    i {
        color: var(--color-white);
    }
}

.btn-red i {
    color: var(--color-black);
}

#offcanvasWithBothOptions {
    width: max-content;
    padding: 20px;
    background-color: var(--color-black);
    border-right: 0.5px solid var(--color-dark-red);
    color: var(--color-white);
    z-index: 100000;
}

.text-reset {
    color: var(--color-white);
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.offcanvas-btn {
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    width: 70%;
}

.active{
    background-color: transparent;
    border: 3px solid var(--color-red);
}

.offcanvas-btn:hover {
    background-color: var(--color-dark-red);
    border-color: var(--color-dark-red);
    border-radius: 10px;
}

.offcanvas-btn a {
    color: var(--color-white);
    text-decoration: none;
}



/* CORREDORES ________________________________________________________________________________________________________*/
.corre {
    border: 1px solid var(--color-dark-red);
    border-radius: 10px;
    overflow: hidden;
}

.col-libre {
    background-color: transparent;
    margin: -5px;
}

.img-piloto {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-circ {
    width: 80%;
    height: auto;
    border-radius: 10px;
}


/* CONTACTO ______________________________________________________________________________________________________ */
.contact-container {
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
}

.title-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-form {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    background: var(--color-black);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    color: var(--color-white);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background: var(--color-dark-red);
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: var(--color-red);
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#noti-check {
    width: 15%;
}




@media (max-width: 576px) {

    header {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img-scuderia {
        width: 100%;
        height: auto;
    }

    .title-contact {
        padding: 0px 20px;
    }


}