@use '../global/fonts';
@use '../util/variables' as v;
@use '../util/mixin' as m;

.contact-container {
    @include m.centrar-g;
    height: 100vh;
}

.title-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-form {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    background: v.$color-black;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    color: v.$color-white;

    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    button {
        background: v.$color-dark-red;
        color: v.$color-white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: v.$color-red;
        }
    }

}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#noti-check {
    width: 15%;
}