@use '../global/fonts';
@use '../util/variables';

.div-presentacion {
    box-shadow: 2px 2px 10px variables.$color-dark-red;
    background-color: variables.$color-black-opacidad;
    border: 1px solid variables.$color-dark-red;
    padding: 20px;
}