@use '../global/fonts';
@use '../util/variables' as v;
@use '../util/mixin' as m;

.corre {
    border: 1px solid v.$color-dark-red;
    box-shadow: 2px 2px 10px v.$color-dark-red;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

div.datos-pil{
    flex-direction: row;
}

.col-libre {
    background-color: transparent;
}

.col-pil {
    @include m.centrar-f;
}

.img-piloto {
    width: 90%;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}