@use '../util/variables' as v;
@use '../util/mixin' as m;

footer {
    background-color: v.$color-black;
    color: v.$color-white;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid v.$color-dark-red;
    margin-top: 30px;
}

.footer-container {
    @include m.centrar-f;
    flex-direction: column;
    gap: 10px;
}

.footer-links {
    a {
        color: v.$color-white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 14px;
        transition: color 0.3s;
    }

    &:hover {
        color: v.$color-dark-red;
    }
}


.footer-social {
    a {
        color: v.$color-white;
        font-size: 20px;
        margin: 0 10px;
        transition: color 0.3s;
    }

    &:hover {
        color: v.$color-dark-red;
    }
}


.footer-text {
    font-size: 12px;
    opacity: 0.7;
}