@use '../util/variables' as v;
@use '../util/mixin' as m;

header {
    z-index: 10;
    position: fixed;
    top: 10px;

    .btn-red {
        background-color: v.$color-dark-red;
        transition: transform 0.3s ease-in-out;

        &:hover {
            box-shadow: 2px 2px 15px v.$color-white;
            border-color: v.$color-white;
            background-color: v.$color-red;

            i{
                color: v.$color-white;
            }
        }

        i{
            color: v.$color-black;
        }
    }
}

.text-reset {
    color: v.$color-white;
}

#offcanvasWithBothOptions {
    width: max-content;
    padding: 20px;
    background-color: v.$color-black;
    border-right: 0.5px solid v.$color-dark-red;
    color: v.$color-white;
}

.offcanvas-header {
    @include m.centrar-f;
    padding: 20px 0px;
}

.offcanvas-body {
    @include m.centrar-f;
    flex-direction: column;
    padding: 0px;
}

.offcanvas-btn {
    background-color: transparent;
    border: 1px solid v.$color-white;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 20px;

    &:hover {
        background-color: v.$color-dark-red;
        border-color: v.$color-dark-red;
        border-radius: 10px;
    }

    a {
        color: v.$color-white;
        text-decoration: none;
    }
}

.active {
    background-color: transparent;
    border: 3px solid v.$color-red;
}